.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 12px;
  color: #2a363b;
}
.link:hover {
  color: #0056b3;
}
.icon {
  color: black;
  font-size: 40px;
  display: block;
}
.icon:hover {
  color: #0056b3;
}
.wrapper {
  display: flex;
  gap: 12px;
}
